body{
    background: url("/assets/image.jpg");
    font-family: Manrope, sans-serif;
    padding: 0 3rem 0 3rem;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.navbar{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.navbar .logo .logon{
    height: 3rem;
    width: 8rem;
}

.navbar .navtext{
    margin-top: 10px;
}

.navbar .navtext a{
    margin-left: 3rem;
    margin-right: 3rem;
}

.navbar .navtext a i{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 8px;
    border-color: black;
}

.navbar .navtext .user{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999;
  }

/* .navbar .navtext .user img{
    border-radius: 2rem;
    margin-top: 1rem;
    width: 3rem;
} */

.user img {
    max-width: 100%;
    border-radius: 50%;
  }
  
  .user p {
    margin: 10px 0;
  }

.bodypart{
    display: flex;
    justify-content: space-between;
}

.bodypart .text{
    padding-top: 9rem;
}

.bodypart .text .bigtext .t1 p{
    font-size: 2.5rem;
    font-weight: 200;
}

.bodypart .text .bigtext .t2 p{
    margin-top: -2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.bodypart .text .smalltext{
    line-height: 2rem;
    font-weight: 200;
}

.btn {
    margin-top: 2rem;
    background-color: #12940c;
    color: #fff;
    font-size: 1rem;
    padding: 20px 30px;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
  }

  .btn:hover {
    background-color: #9a270d;
  }

.bodypart .photo{
    padding-top: 5rem;
    padding-right: 2rem;
}

.bodypart .photo .imge img{
    height: 42rem;
}